:root {
  --background-main: #05388c;
  --font-navy: #05388c;
  --login-background: #8c92a5;
  --login-modal-background: #b9bfd3;
  --background-theme: #2c3333;
  --homepage-box-background: rgba(8, 4, 36, 0.8);
  --homepage-box-background-test: rgba(46, 79, 79, 0.8);
  --homepage-box-background-no-opac: rgba(8, 4, 36, 1);
  --menu-overlay-theme: rgb(30, 41, 41);
  --table-hover: rgba(23, 12, 97, 0.8);
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.HomePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-theme);
}

/* overlay content */

.HomeNavbar {
  position: absolute;
  padding-top: 2rem;
  padding-left: 2rem;
  top: 0px;
  left: 0px;
  color: #fff;
}

.HomeNavbar h1:hover {
  cursor: pointer;
  color: var(--login-modal-background);
}

.MenuNavbar {
  position: absolute;
  padding-top: 2rem;
  padding-right: 2rem;
  top: 0px;
  right: 0px;
}

.MenuButton {
  transition: 0.4s ease-in-out;
}

.MenuButton:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.MenuOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background-color: var(--menu-overlay-theme);
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.MenuOverlay button {
  background: none;
  border: none;
  color: #fff;
  width: 50%;
  margin: 1rem;
  font-size: 3rem;
}

.MenuOverlay button:hover {
  color: var(--login-background);
}

#chk:checked ~ .MenuOverlay {
  transform: translateY(0%);
}

/* Main Page */

.HomeContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Left Side */

.RecentScores {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.RecentScoresContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 75%;
  border-radius: 2rem;
  border: 2px solid #fff;
  background-color: var(--homepage-box-background-test);
}

.RecentScoresContainer h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 10%;
  color: #fff;
  font-weight: bold;
}

.RecentScoresBox {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.RecentScoresTable {
  height: 100%;
  width: 100%;
  display: grid;
}

.HomeTableHeaderRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.HomeTableScoreRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.HomeHeaderCell {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.HomeTableCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem;
  border-top: 1px solid #fff;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Right Side */

.QuizSelect {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.QuizSelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  border: 2px solid #fff;
  background-color: var(--homepage-box-background-test);
  height: 50%;
  width: 75%;
}

.QuizSelectContainer h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #fff;
  font-weight: bold;
}

.QuizSelectForm {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  height: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.QuizSelectForm select {
  width: 20rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1rem;
  border-radius: 2rem;
}

.QuizSelectForm input {
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

.InError {
  color: #fff;
}

.NotInError {
  display: none;
}

/* Media Queries */

/* x-small devices */
@media screen and (min-width: 100px) and (max-width: 575.98px) {
  .HomeContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .HomeNav {
    display: flex;
    flex-direction: row;
    min-height: 8%;
    background-color: var(--background-theme);
    border-bottom: 2px solid #fff;
  }

  .RecentScores {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .RecentScores h1 {
    margin-top: 2rem;
  }

  .RecentScoresContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: none;
    border-top: 2px solid #fff;
    background-color: var(--background-theme);
  }

  .QuizSelect {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .QuizSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: none;
    background-color: var(--background-theme);
    height: 100%;
    width: 100%;
  }

  .QuizSelectContainer h1 {
    margin-top: 2rem;
  }
}

/* small devices */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .HomeContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .HomeNav {
    display: flex;
    flex-direction: row;
    min-height: 8%;
    background-color: var(--background-theme);
    border-bottom: 2px solid #fff;
  }

  .RecentScores {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .RecentScores h1 {
    margin-top: 2rem;
  }

  .RecentScoresContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: none;
    border-top: 2px solid #fff;
    background-color: var(--background-theme);
  }

  .QuizSelect {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .QuizSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: none;
    background-color: var(--background-theme);
    height: 100%;
    width: 100%;
  }

  .QuizSelectContainer h1 {
    margin-top: 2rem;
  }
}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .HomeContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .HomeNav {
    display: flex;
    flex-direction: row;
    min-height: 8%;
    background-color: var(--background-theme);
    border-bottom: 2px solid #fff;
  }

  .RecentScores {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .RecentScores h1 {
    margin-top: 2rem;
  }

  .RecentScoresContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: none;
    border-top: 2px solid #fff;
    background-color: var(--background-theme);
  }

  .QuizSelect {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .QuizSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: none;
    background-color: var(--background-theme);
    height: 100%;
    width: 100%;
  }

  .QuizSelectContainer h1 {
    margin-top: 2rem;
  }
}

/* large devices */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .HomeNav {
    display: flex;
    flex-direction: row;
    min-height: 8%;
    background-color: var(--background-theme);
  }

  .QuizSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #fff;
    background-color: var(--homepage-box-background-test);
    height: 50%;
    width: 90%;
  }

  .RecentScoresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #fff;
    background-color: var(--homepage-box-background-test);
    height: 50%;
    width: 90%;
  }
}

/* x-large devices */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .HomeNav {
    display: flex;
    flex-direction: row;
    min-height: 8%;
    background-color: var(--background-theme);
  }

  .QuizSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #fff;
    background-color: var(--homepage-box-background-test);
    height: 50%;
    width: 90%;
  }

  .RecentScoresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #fff;
    background-color: var(--homepage-box-background-test);
    height: 50%;
    width: 90%;
  }
}
