:root {
  --background-main: #05388c;
  --font-navy: #05388c;
  --login-background: #8c92a5;
  --login-modal-background: #b9bfd3;
  --background-dark: #379683;
  --background-light: #8ee4af;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.LandingPage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

#chk {
  display: none;
}

/* left side of landing page */

.LandingLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 100%;
  background-color: var(--login-background);
}

.LoginBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 50%;
  border-radius: 2rem;
  background-color: var(--login-modal-background);
  overflow: hidden;
}

.LoginSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 70%;
  width: 100%;
}

.LoginForm label {
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 2em;
  margin: 3rem 3rem 3rem 3rem;
  transition: 0.5s ease-in-out;
}

.LoginForm label:hover {
  cursor: pointer;
}

.LoginForm form {
  width: 100%;
}

.SubmitButton {
  height: 15%;
  width: 50%;
  border-radius: 2rem;
  border: none;
  background-color: #05388c;
  color: white;
}

.SubmitButton:hover {
  background-color: #0844a4;
}

.Labels {
  padding-bottom: 2rem;
  width: 100%;
}

.Labels input {
  border: none;
  padding: 0.75rem;
  width: 50%;
  border-radius: 2rem;
}

.SignUpForm {
  min-height: 100%;
  width: 100%;
  background-color: #05388c;
  border-radius: 60% / 10%;
  transform: translateY(30%);
  transition: 0.8s ease-in-out;
}

.SignUpForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.SignUpForm label {
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 3em;
  color: #eee;
  padding: 2rem 3rem 3.5rem 3rem;
  transform: scale(0.6);
  transition: 0.5s ease-in-out;
}

.SignUpForm label:hover {
  cursor: pointer;
}

#chk:checked ~ .SignUpForm {
  transform: translateY(-30%);
}

#chk:checked ~ .SignUpForm label {
  transform: scale(1);
}

#chk:checked ~ .LoginForm label {
  transform: scale(0.6);
}

/* right side of landing page */
.LandingDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 100%;
  color: white;
  background: var(--background-main);
}
