:root {
  --background-main: #05388c;
  --font-navy: #05388c;
  --login-background: #8c92a5;
  --login-modal-background: #b9bfd3;
  --background-theme: #2c3333;
  --homepage-box-background: rgba(8, 4, 36, 0.8);
  --homepage-box-background-test: rgba(46, 79, 79, 0.8);
  --homepage-box-background-no-opac: rgba(74, 119, 119, 0.8);
  --table-hover: rgba(23, 12, 97, 0.8);
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.LoadingScoresTable {
  height: 100vh;
  width: 50vw;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* x-small devices */
@media screen and (min-width: 100px) and (max-width: 575.98px) {
  .LoadingScoresTable {
    height: 80vh;
    width: 100vw;
    background-color: var(--background-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* small devices */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .LoadingScoresTable {
    height: 80vh;
    width: 100vw;
    background-color: var(--background-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .LoadingScoresTable {
    height: 80vh;
    width: 100vw;
    background-color: var(--background-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* large devices */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .LoadingScoresTable {
    height: 70vh;
    width: 70vw;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* x-large devices */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .LoadingScoresTable {
    height: 70vh;
    width: 70vw;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
