:root {
  --background-main: #05388c;
  --font-navy: #05388c;
  --login-background: #8c92a5;
  --login-modal-background: #b9bfd3;
  --background-theme: #2c3333;
  --homepage-box-background: rgba(8, 4, 36, 0.8);
  --homepage-box-background-test: rgba(46, 79, 79, 0.8);
  --homepage-box-background-no-opac: rgba(8, 4, 36, 1);
  --table-hover: rgba(23, 12, 97, 0.8);
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.QuizQuestion {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-theme);
  justify-content: center;
  align-items: center;
}

.QuizBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  border-radius: 2rem;
  border: 2px solid #fff;
  background-color: var(--homepage-box-background-test);
  padding: 2rem;
}

.ResultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
}

.QuizBox span {
  color: #fff;
  font-weight: bold;
  font-size: 3.5rem;
}

.QuizBox h3 {
  color: #fff;
  font-weight: bold;
}

.ResultButton {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  width: 40%;
  margin: 1rem;
}

.ResultButton:hover {
  background-color: var(--login-modal-background);
}

.ProgressTracker {
  color: white;
  font-weight: bold;
}

.ResultButtonContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.AnswerButtons {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: space-evenly;
}

.AnswerButton {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
}

.AnswerButton:hover {
  background-color: var(--login-modal-background);
}

/* .ResultButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid red;
} */

/* Media Queries */

/* x-small devices */
@media screen and (min-width: 100px) and (max-width: 575.98px) {
  .QuizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    border: none;
    background-color: var(--background-theme);
  }
  .AnswerButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
  }
  .ResultButtonContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
  }
  .ResultButton {
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem;
  }

  .ResultButton:hover {
    background-color: var(--login-modal-background);
  }
}

/* small devices */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .QuizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    border: none;
    background-color: var(--background-theme);
  }
  .AnswerButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
  }
  .ResultButtonContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
  }
  .ResultButton {
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem;
  }

  .ResultButton:hover {
    background-color: var(--login-modal-background);
  }
}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .QuizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    border: none;
    background-color: var(--background-theme);
  }
  .AnswerButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
  }
  .ResultButtonContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
  }
  .ResultButton {
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem;
  }

  .ResultButton:hover {
    background-color: var(--login-modal-background);
  }
}

/* large devices */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .QuizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    border-radius: 2rem;
    border: 2px solid #fff;
    background-color: var(--homepage-box-background-test);
    padding: 2rem;
  }
  .AnswerButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
  }
}

/* x-large devices */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .QuizBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    border-radius: 2rem;
    border: 2px solid #fff;
    background-color: var(--homepage-box-background-test);
    padding: 2rem;
  }
  .AnswerButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
  }
}
